/* Non-semantic presets */
.code {
  font-family: monospace;
}

.closed {
  display: none;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

em{
  font-style: italic;
}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	margin: 0 auto 0 auto;
	padding: 24px 48px;
	background: #EEE;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

  header{
    width: 100%;
    height: 36px;
 
    background-color: #343444;
    background-size: 4px 4px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    
    border: 1px solid #2E2E2E;
    
    color: #666;
    
    position: relative;
    
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);  
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
    
  }
  
    header h1{
      display: inline;
      font-family: 'Damion', arial, serif;
      font-size: 24px;
      line-height: 24px;
      font-weight: normal;
      color: #EEEEEE;
      text-shadow: 0 1px rgba(0,0,0,0.6), 0 -1px rgba(0,0,0,0.6);
      margin-left: 10px;
      padding-top: 3px;
      text-align: left;
    }
    
      header h1 .heart{
        color: #EC96E0;
        font-size: 30px;
        position: relative;
        top: 2px;
      }
    

    header h2{
      font-family: 'Damion', serif;
      color: #EEE;
      text-shadow: 0 1px rgba(0,0,0,0.6), 0 -1px rgba(0,0,0,0.6);
      font-size: 24px;
      display: inline;
      margin-left: 5px;
      font-weight: normal;
    }
    
    header menu{
      position: absolute;
      right: 10px;
      top: 0px;
    }
      
    button{
      background: #2E2E2E;
      background: -webkit-linear-gradient(#2E2E2E, #1E1E1E);
      font-size: 13px;
      padding: 4px;
      
      border: 1px solid #1B1B1B;
      
      -webkit-box-shadow: inset 0 -1px rgba(255,255,255,0.1), 0 0 1px rgba(255,255,255,0.1);
      -moz-box-shadow: inset 0 -1px rgba(255,255,255,0.1), 0 0 1px rgba(255,255,255,0.1);
      box-shadow: inset 0 -1px rgba(255,255,255,0.1), 0 0 1px rgba(255,255,255,0.1);
      
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      
      color: white;
      text-shadow: 0 -1px black;
      
      margin: 5px;
      
      width: 50px;
    }
    
      header button:hover{
        color: white;
        border: 1px solid #53546E;
        
        background: #3E3E3E;
        background: -webkit-linear-gradient(#3E3E3E, #2E2E2E);
      }
      
      header button:active{
        background: #2E2E2E;
        
        border: 1px solid rgba(0,0,0,0.1);
        
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        color: #444;
        text-shadow: none;
      }
      
      header button.disabled{
        background: rgba(0,0,0,0.1);
        
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
        box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
        
        border: 1px solid rgba(0,0,0,0.1);
        
        color: #292937;
        text-shadow: none;
      }
  
  footer{
    width: 896px;
    bottom: 0px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    
    margin-right: 48px;
  }
  
    footer menu{
      float: left;
    }
  
      footer button{
        background: #EEE;
        background: -webkit-linear-gradient(#EEE, #CCC);
      
        border: 1px solid #9F9F9F;
      
        color: #444;
        text-shadow: 0 -1px white;
      
        margin: 24px 5px 24px -1px;
      }
    
        footer button:hover{
          background: #FFF;
          background: -webkit-linear-gradient(#FFF, #DDD);
        }
    
        footer button:active{
          background: #EEEEEE;
      
          -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
          -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
          box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
          
          border: 1px solid #9F9F9F;
      
          color: #AAA;
          text-shadow: none;
        }
  
  #main{
    margin-top: 20px;
    position: relative;
  }
  
  #editor {
    border: none;
    
    -moz-box-shadow: 0 0 1px black;
    -webkit-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
    
    height: 300px;
    padding: 0;
    position: relative;
    width: 100%;
    
    color: white;
    background: #141414;
  }
  
    /* Turn on a 13x13 scrollbar */
    #editor ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    #editor ::-webkit-scrollbar-track:vertical {    
      background-color: #141414;
    }
  
    #editor ::-webkit-scrollbar-track:horizontal {    
      background-color: #141414;
    }
  
    /* Track below and above */
    #editor ::-webkit-scrollbar-track-piece {    
      background-color: #141414;
    }
  
    /* The thumb itself */
    #editor ::-webkit-scrollbar-thumb:vertical {
      background-color: rgba(159, 159, 159, 0.5);
      -webkit-border-radius: 4px;
    }
  
    #editor ::-webkit-scrollbar-thumb:horizontal {
      background-color: rgba(159, 159, 159, 0.5);
      -webkit-border-radius: 4px;
    }

    #editor .ace_gutter .error {
      color: red;
    }
    #editor .ace_content .error {
      background-color: #401414;
      color: red;
    }

    #editor #ieeditor {
      font-family: monospace;
      position: relative;
      height: 100%;
      width: 100%;
    }
  
  #output {
    list-style: none;
    margin-left: 0;
  }
    #output li {
      border-top: 1px dotted #9F9F9F;
      font-family: monospace;
      margin-top: 3px;
      padding: 3px;
      white-space: pre-wrap;
    }
      #output li:first-child {
        border-top: none;
        margin-top: 0;
      }

    #output .jsdeath {
      color: red;
    }
      #output .jsdeath b {
        font-weight: bold;
      }
    #output .input {
      font-style: italic;
      color: blue;
    }
    #output .traceback {
      font-style: italic;
      color: red;
    }

  #output_container{
    margin-top: 24px;
    background: white;
    height: 136px;
    overflow-y: scroll;
    
    -webkit-box-shadow: 0 0 1px black;
    -moz-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
  }

    #output_container::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    #output_container::-webkit-scrollbar-track:vertical {    
      background-color: white;
    }
  
    /* Track below and above */
    #output_container::-webkit-scrollbar-track-piece {    
      background-color: white;
    }
  
    /* The thumb itself */
    #output_container::-webkit-scrollbar-thumb:vertical {
      background-color: rgba(159, 159, 159, 0.5);
      -webkit-border-radius: 4px;
    }
    
  #loader {
    background-color: #EEEEEE;
    color: #444;
    font-family: 'Helvetica', arial, sans-serif;
    font-weight: normal;
    height: 136px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px white;
    bottom: 0px;
    width: 100%;
    z-index: 10;
  }
    #loader #loader-spinner{
      margin: 20px;
      border: none;
    }
    #loader #loader-text {
      font-size: 14px;
      line-height: 24px;
      margin: 10px;
    }
    #loader #loader-msg {
      font-size: 12px;
      line-height: 16px;
      margin: 10px 0;
    }
    #loader .error {
      color: #FF4E5D;
    }
    
  .box{
    position: absolute;
    top: 0px;
    
    width: 100%;
    height: 100%;
    
    z-index: 12;
    
    background: white;
    
    padding: 1px;
    margin: -1px 0 0 -1px;
    border: 1px solid #9F9F9F;
  }
  
    .box h1{
      margin-top: 10px;
    }
  
    .box p, .box h1, .box h2, .box ul, .box li{
      margin-left: 5px;
    }

/*	
 *  Mobile/Tablet/Embedded layout
 *  Inherits styles from default (override here for mobile)
 *  Fits to screen horizontally and vertically.
 *  Will only work on modern mobiles
 *  (but that's okay because our JS isn't going to work on a blackberry anyway)
 */
@media only screen and (max-width: 991px){
	body {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	#main{
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  border-top: 1px solid #212121;
	}
	
	#editor, #output_container{
	  margin: 0;
	}
	
	#editor{
	  border-bottom: 1px solid #9F9F9F;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	}
	
	header{
	  width: 100%;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	  padding: 0;
	  border: none;
	}
	
	footer{
    margin-left: 36px;
	}
}
